[submodule "src/main/resources/lib/ngForeverScape"]
	path = src/main/resources/lib/ngForeverScape
	url = https://github.com/vance/NgForeverScape.git
[submodule "src/main/website"]
	path = src/main/website
	url = https://github.com/vance/fscape-site.git
