<div>




    <div ng-show="widgetCtrl.widgets.data.length > 1 ">


        <span ng-show="widgetCtrl.widgets.data.length"> Yay! We found {{widgetCtrl.widgets.data.length}} widgets! </span>



        <ul ng-repeat="widget in widgetCtrl.widgets.data">
            <li>{{widget.name}} :
                <a href="" ng-click="widgetCtrl.getWidgetById(widget.id)">Directive Link</a>, <a href="/#/widget/id/{{widget.id}}">Permalink By Id</a> ,
                <a href="/#/widget/name/{{widget.name}}">Permalink By Name</a>
                <a href="/#/widget/lastname/{{widget.lastName}}">permalink by lastName</a>
                <br/>
                <input type="button" ng-click="widgetCtrl.deleteWidget(widget.id)" value="Delete"/>
                <input type="button" ng-click="widgetCtrl.editWidget(widget.id)" value="Edit"/>
                <br/>
                Rating:
                    <input type="button" ng-click="widgetCtrl.rateWidget(widget.id,1)" value="&#10032;"/>
                    <input type="button" ng-click="widgetCtrl.rateWidget(widget.id,2)" value="&#10032;"/>
                    <input type="button" ng-click="widgetCtrl.rateWidget(widget.id,3)" value="&#10032;"/>
                    <input type="button" ng-click="widgetCtrl.rateWidget(widget.id,4)" value="&#10032;"/>
                    <input type="button" ng-click="widgetCtrl.rateWidget(widget.id,5)" value="&#10032;"/>

                <ul ng-repeat="(key, value) in widget track by $index">
                    <li style="margin-top:-12px;" >{{key}} : {{value}}</li>
                </ul>
            </li>

        </ul>
    </div>

    <div ng-show="widgetCtrl.widgets.data.length <= 1 && widgetCtrl.widgets.data.length > 0 ">
        <ul ng-repeat="widget in widgetCtrl.widgets.data">
            <li >{{widget.name}}</li>
        </ul>
    </div>


</div>