<nav class="header-container" ng-controller="NavController as navCtrl" ng-hide="navCtrl.hide">


    <span class="menu" ng-click="showMenu=true">
        <div ng-show="showMenu">HelloMenu</div>
    </span>

    <div class="title">ForeverScape</div>

    <ul class="navigation">
        <li ng-class="{active:learnHover}"
                ng-mouseenter="learnHover=true"
                ng-mouseleave="learnHover=false">
            <b>L</b>earn
        </li>
        <li ng-class="{active:shopHover}"
                ng-mouseenter="shopHover=true"
                ng-mouseleave="shopHover=false">
            <b>S</b>hop
        </li>
        <li ng-class="{active:discoverHover}"
                ng-mouseenter="discoverHover=true"
                ng-mouseleave="discoverHover=false">
            <b>D</b>iscover
        </li>
    </ul>


</nav>