<div class="foreverscape-engine-wrapper">

   <!-- <div class="hud">

        time: {{ fscapeEngineCtrl.time| number:0 }}<br/>
        hasRender: {{ fscapeEngineCtrl.hasRender| number:0 }}<br/>

        zoom: {{touchService.zoom}}

        <div id="trace">Hello</div>
    </div>-->


    <div class="engine-frame"
         ng-mouseleave="touchService.mouseUp($event)"
         ng-mousedown="touchService.mouseDown($event)"

         hm-drag="touchService.handleDrag($event)"
         hm-dragend="touchService.mouseUp($event)"
         hm-pinch="touchService.handlePinch($event)"
         hm-touch="touchService.touchGesture($event)"
         >

        <div class="engine-scale">

        <div id="tile-engine" class="engine-position">


<!--


-->



            </div>

        </div>

    </div>

</div>