.foreverscape-engine-wrapper
{
  background-color:#000;
  position:fixed;
  left:0;
  right:0;
  top:290px;
  bottom:0px;
  z-index:2;

  .engine-scale
  {

  }

  .engine-position
  {
    position:relative;
    width: 100%;
    height:100%;
  }



  .hud {
    font-size:.7em;
    position:absolute;
    z-index:100;
    margin-top: 5px;
    color:greenyellow;
    background-color:rgba(0, 0, 0, 0.5)
  }

  .engine-frame {
    opacity:1;
    width:100%;
    height:100%;
    background-color:#000;

    .grid-box
    {
      position:absolute;
      width: 1004px;
      height: 768px;
      z-index:20;
    }

    .thumb {

        position:absolute;
        z-index:20;
        width: 1004px;
        height: 768px;

    }
    .full {
      position:absolute;
      z-index:40;
      width: 1004px;
      height: 768px;
    }

    .grid-info
    {
      position:absolute;
      z-index:2;

      font-size:120px;
    }




  }

}

