

@import "normalize";

@import "colors";



/*********************************************
    
    Begin sprites
 *********************************************/

@import "sprites/*.png";

$sprites: sprite-map("sprites/*.png");

$retinaBgWidth: image-width(sprite-path($sprites-sprites));
$retinaBgHeight: image-height(sprite-path($sprites-sprites));

@mixin sprites-generate($image) {
  body & {
    font-family: Helvetica, Sans Serif, Arial;
    @include sprites-sprite($image);
  }

  body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    position:relative;
    vertical-align: top;
    width:100%;
    height:100%;

    overflow-x:hidden;
    overflow-y:hidden;


  }

}

.page {
  margin-top:60px;
  height: 100%;
  width:100%
}

.load-indicator-view
{
  background-color:#000;
  opacity:.5;
  margin:auto;
  position:absolute;
  top:45%;
  left:47%;
  height:32px;
  width:32px;
  border-radius:3px;
}

/***
  COMPONENTs
***/
@import "../website/components/nav/Navigation";

@import "../core/components/foreverscapeEngine/foreverscapeEngine";

/***
  PAGEs
***/

