

@import "normalize";

@import "colors";



/*********************************************
    
    Begin sprites
 *********************************************/

@import "sprites/*.png";

$sprites: sprite-map("sprites/*.png");

$retinaBgWidth: image-width(sprite-path($sprites-sprites));
$retinaBgHeight: image-height(sprite-path($sprites-sprites));

@mixin sprites-generate($image) {
  body & {
    font-family: Helvetica, Sans Serif, Arial;
    @include sprites-sprite($image);
  }

  body {
    position:relative;
    vertical-align: top;
  }
}


/***
  COMPONENTs
***/
@import "../app/components/nav/Navigation";

/***
  PAGEs
***/

