<div>
    <ul>
        <li>
            <a href="http://foreverscape.com/about"><b>A</b>bout</a>
        </li>
        <li>
            <a href="http://www.amazon.com/s/ref=bl_sr_apparel?ie=UTF8&field-brandtextbin=ForeverScape&node=7141123011"><b>S</b>hop</a>
        </li>
        <li>
            <a href="https://foreverscape.com/art"><b>B</b>log</a>
        </li>
        <li>
            <a href="http://www.foreverscape.com/videos/"><b>V</b>ideo</a>
        </li>
        <li>
            <a href="https://github.com/vance/ForeverScapeCore"><b>S</b>ourcecode</a>
        </li>

    </ul>
</div>