<nav class="header-container" ng-controller="navController as navCtrl" ng-hide="navCtrl.hide">


    <span class="menu" ng-click="showMenu=true">
        <div ng-show="showMenu">HelloMenu</div>
    </span>

    <div class="title"></div>

    <div class="navigation">
        <ul >
            <li >
                <a href="http://foreverscape.com/about"><b>L</b>earn</a>
            </li>
            <li >
                <a href="https://foreverscape.com/shop/index.php"><b>S</b>hop</a>
            </li>
            <li>
                <a href="https://foreverscape.com/shop/index.php"><b>D</b>iscover</a>
            </li>
            <li >
                <a href="http://www.foreverscape.com/videos/"><b>V</b>ideo</a>
            </li>
            <li >
                <a href="https://github.com/vance/ForeverScapeCore"><b>S</b>ourcecode</a>
            </li>

        </ul>
    </div>

</nav>